/* Variables 
=============== */
$mainFont: 'Merriweather Sans',
sans-serif;
$bodyFont: 'Open Sans',
sans-serif;
$bodyFontColor: #000000;
$darkColor: #002B44;
$accentColor: #0088a9;

/* Global Styles 
=============== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $bodyFont;
    color: $bodyFontColor;
    width: 100%;
    height: 100vh;
}

a,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: $mainFont;
}

img {
    max-width: 100%;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 2.5rem 0;
}

input,
textarea {
    outline: none;
}

/* Header 
=============== */

header {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    width: 100%;
    background-color: #fff;

    min-height: 8vh;

    .logo {
        cursor: pointer;
        font-size: .875rem;
        font-family: $mainFont;
        color: #000;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.1rem;

        &:focus {
            outline: none;
            color: $accentColor;
        }
    }

    .nav__links {

        li {
            display: inline-block;
            padding: 0 2rem;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .875rem;
            padding: 0 1.5rem;

            a {
                transition: all 0.3s ease 0s;
                color: #000;

                &:hover {
                    color: $accentColor;
                }

                &:focus {
                    outline: none;
                    color: $accentColor;
                }
            }
        }
    }

    .social-media {
        list-style: none;
        display: flex;
        justify-content: center;

        .fa-facebook-f,
        .fa-instagram,
        .fa-youtube {
            font-size: .875rem;
            display: inline-block;
            padding: 0 .5rem;
            transition: all 0.3s ease 0s;
            color: #000;
        }

        .fa-facebook-f:hover {
            color: #1877f2;
        }

        .fa-instagram:hover {
            color: transparent;
            background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background-clip: text;
            -webkit-background-clip: text;
        }

        .fa-youtube:hover {
            color: #C31A1E;
        }
    }

}


/* Burger Menu
=============== */

// .burger {
//     display: none;
//     cursor: pointer;

//     div {
//         width: 25px;
//         height: 2px;
//         background-color: rgb(226, 226, 226);
//         margin: 5px;
//         transition: all 0.3s ease;
//     }


// }

// @media screen and (max-width: 768px) {

//     .nav__links {
//         position: absolute;
//         right: 0px;
//         height: 92vh;
//     }
// }


/* Body 
=============== */

/* === Hero === */

.hero-image {
    height: 100vh;
    position: relative;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(../img/hero-image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    h1,
    h2 {
        text-transform: uppercase;
        font-family: $mainFont;
        margin: 1rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 0.25rem;
    }

    h2 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

/* === Portfolio === */

.portfolio {
    display: flex;
    flex-direction: column;
}

.photography-segments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        object-fit: cover;
    }
}

.card {
    margin: auto;

    h3 {
        text-align: center;
        margin: 1rem 0;
    }
}

/* === About === */
.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .about-photographer-image,
    .about-photographer-text {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .about-photographer-image {
        img {
            object-fit: cover;
        }
    }

    .about-photographer-text {
        flex-direction: column;
        text-align: left;

        span {
            margin: 0.2rem 0;
        }
    }
}

/* === Contact === */

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem 10%;
    width: 100%;
}

.form {

    width: 80%;

    label {
        margin: auto;
        font-weight: bold;
    }

    input,
    textarea {
        margin: auto;
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: none;
        background: #ffffff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        margin-bottom: 1rem;

        transition: all 0.1s ease-in-out;
    }

    input:hover,
    textarea:hover,
    input:active,
    textarea:active,
    input:focus,
    textarea:focus {
        border: 1px solid #d9d9d9;
    }

    textarea {
        resize: none;
        font-family: $bodyFont;
    }

    .btn-send {
        display: inline-block;
        text-align: center;
        background: $accentColor;
        color: #fff;
        padding: 0.5rem 0.5rem;
        font-weight: bold;
        border-radius: 0.4rem;
        min-width: 8rem;
        text-decoration: none;
        font-size: 1rem;

        transition: all 0.1s ease-in-out;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            background-color: $darkColor;
        }
    }
}




/* === Footer === */

footer {
    background-color: $darkColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 10%;
    width: 100%;
    height: 15vh;

    p {
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        margin: 1rem 0;
    }

    .social-media {
        list-style: none;
        display: flex;
        justify-content: center;

        .fa-facebook-f,
        .fa-instagram,
        .fa-youtube {
            font-size: .875rem;
            display: inline-block;
            padding: 0 .5rem;
            transition: all 0.3s ease 0s;
            color: #fff;
        }

        .fa-facebook-f:hover {
            color: #1877f2;
        }

        .fa-instagram:hover {
            color: transparent;
            background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background-clip: text;
            -webkit-background-clip: text;
        }

        .fa-youtube:hover {
            color: #C31A1E;
        }
    }

}



/* Media Queries
=============== */

@media (max-width: 768px) {



    // .nav__links {
    //     display: none;
    // }

    .hero-text h1,
    .hero-text h2 {
        margin: 2rem 0;
    }

    .hero-text h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .hero-text h2 {
        font-size: 0.875rem;
    }

}