/* Variables 
=============== */
/* Global Styles 
=============== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  width: 100%;
  height: 100vh;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Merriweather Sans", sans-serif;
}

img {
  max-width: 100%;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem 0;
}

input,
textarea {
  outline: none;
}

/* Header 
=============== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 10%;
  width: 100%;
  background-color: #fff;
  min-height: 8vh;
}

header .logo {
  cursor: pointer;
  font-size: .875rem;
  font-family: "Merriweather Sans", sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

header .logo:focus {
  outline: none;
  color: #0088a9;
}

header .nav__links li {
  display: inline-block;
  padding: 0 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .875rem;
  padding: 0 1.5rem;
}

header .nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
}

header .nav__links li a:hover {
  color: #0088a9;
}

header .nav__links li a:focus {
  outline: none;
  color: #0088a9;
}

header .social-media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .social-media .fa-facebook-f,
header .social-media .fa-instagram,
header .social-media .fa-youtube {
  font-size: .875rem;
  display: inline-block;
  padding: 0 .5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
}

header .social-media .fa-facebook-f:hover {
  color: #1877f2;
}

header .social-media .fa-instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

header .social-media .fa-youtube:hover {
  color: #C31A1E;
}

/* Burger Menu
=============== */
/* Body 
=============== */
/* === Hero === */
.hero-image {
  height: 100vh;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1))), url(../img/hero-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(../img/hero-image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-text h1,
.hero-text h2 {
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
  margin: 1rem;
}

.hero-text h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

.hero-text h2 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

/* === Portfolio === */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photography-segments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photography-segments img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  margin: auto;
}

.card h3 {
  text-align: center;
  margin: 1rem 0;
}

/* === About === */
.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content .about-photographer-image,
.about-content .about-photographer-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content .about-photographer-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about-content .about-photographer-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.about-content .about-photographer-text span {
  margin: 0.2rem 0;
}

/* === Contact === */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 10%;
  width: 100%;
}

.form {
  width: 80%;
}

.form label {
  margin: auto;
  font-weight: bold;
}

.form input,
.form textarea {
  margin: auto;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-bottom: 1rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form input:hover,
.form textarea:hover,
.form input:active,
.form textarea:active,
.form input:focus,
.form textarea:focus {
  border: 1px solid #d9d9d9;
}

.form textarea {
  resize: none;
  font-family: "Open Sans", sans-serif;
}

.form .btn-send {
  display: inline-block;
  text-align: center;
  background: #0088a9;
  color: #fff;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  border-radius: 0.4rem;
  min-width: 8rem;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form .btn-send:hover, .form .btn-send:focus, .form .btn-send:active {
  cursor: pointer;
  background-color: #002B44;
}

/* === Footer === */
footer {
  background-color: #002B44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 10%;
  width: 100%;
  height: 15vh;
}

footer p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin: 1rem 0;
}

footer .social-media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-media .fa-facebook-f,
footer .social-media .fa-instagram,
footer .social-media .fa-youtube {
  font-size: .875rem;
  display: inline-block;
  padding: 0 .5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

footer .social-media .fa-facebook-f:hover {
  color: #1877f2;
}

footer .social-media .fa-instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

footer .social-media .fa-youtube:hover {
  color: #C31A1E;
}

/* Media Queries
=============== */
@media (max-width: 768px) {
  .hero-text h1,
  .hero-text h2 {
    margin: 2rem 0;
  }
  .hero-text h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .hero-text h2 {
    font-size: 0.875rem;
  }
}
/*# sourceMappingURL=main.css.map */